options:
  source:
    default: distro
    type: string
    description: |
      Repository from which to install OVS+OVN

      May be one of the following:

        distro (default)
        ppa:somecustom/ppa (PPA name must include UCA OpenStack Release name)
        deb url sources entry|key id
        or a supported Ubuntu Cloud Archive pocket.

      Supported Ubuntu Cloud Archive pockets include:

        cloud:xenial-pike
        cloud:xenial-queens
        cloud:bionic-rocky

      Note that updating this setting to a source that is known to
      provide a later version of Ceph will trigger a software
      upgrade.
  ovsdb-server-inactivity-probe:
    default: 60
    type: int
    description: |
      Maximum number of seconds of idle time on connection to client before
      sending an inactivity probe message.

      The Open vSwitch ovsdb-server default of 5 seconds may not be sufficient
      depending on type and load of the CMS you want to connect to OVN.
  nagios_context:
    default: "juju"
    type: string
    description: |
      A string that will be prepended to instance name to set the host name
      in nagios. So for instance the hostname would be something like:
          juju-myservice-0
      If you're running multiple environments with the same services in them
      this allows you to differentiate between them.
  nagios_servicegroups:
    default: ""
    type: string
    description: |
      Comma separated list of nagios servicegroups for the service checks.
